{{ template "head-for-inner.html" }}
<body>
    <div class="tweet">
        <div class="user-container">
            <img src="../assets/img/peach.jpg" alt="">
            <p>@{{ .Author }}</p>
        </div>
        <p> {{ .Content }} </p>
        <div class="actions-tweet">
            <span class="fav-container">
                <input class="fav" type="checkbox" name="fav/{{ .ID }}" value="">
                    {{ template "star.html" . }} 
            </span>
            <form class="reply-container" hx-target=".last-reply" hx-post="/tweet/{{ .ID }}/reply">
                <textarea name="reply-content" rows="3" cols="40">
                </textarea>
                <button class="reply-button" type="">
                    <span>A</span>
                    <span>m</span>
                    <span>b</span>
                    <span>u</span>
                    <span>s</span>
                    <span>h</span>
                </button>
            </form >
        </div>
        <div class="replies"> 
            <p>CULO</p>
            <p>CULO</p>
            <p>CULO</p>
            <p>CULO</p>
        </div>
    </div>
</body>
